* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}
.clear_fix {
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(179, 176, 176);
  font-size: 20px;
}
nav .left {
  width: 30%;
  margin-left: 40px;
}
nav .right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .right div {
  margin: 0 23px;
}
section {
  display: flex;
  flex-direction: column;
  position: relative;
}

section .upper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  margin: 30px;
  position: absolute;
  right: 5%;
}
section .upper input {
  width: 30%;
  min-width: 25%;
  padding: 13px;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  /* margin-left: 300px; */
  color: black;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(224, 223, 223);
}

section .upper button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  margin-left: 30px;
}
section button img {
  margin: 0px;
  object-fit: contain;
}
section .lower {
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
  top: 100px;
}
.sidebar {
  width: 200px;
  /* width: 10%; */
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 223, 223);
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  margin-left: 10px;
}
.sidebar .color {
  width: 100%;
}
li {
  list-style-type: none;
}
/* Remove extra space around checkbox */
input[type="checkbox"] {
  margin: 8px;
}
h3{
  margin-bottom: 7px;
}
.mainpage {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  column-gap: 10px;
}
/* .mainpage .column_1{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-bottom: 20px;
} */
.img_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 270px;
  height: 300px;
  background-color: rgb(224, 223, 223);
  margin-bottom: 15px;
}
/* .mainpage .column_1 .img_1 button{
  background-color: rgb(93, 93, 252);
  padding: 5px;
  width: 100px;
  height: 30px;
  margin-bottom: 5px;
} */
.img_1 img{
  /* border: 2px solid black; */
  margin-top: 10px;
  width: 240px;
  height: 230px;
}
.add_to_cart{
  /* margin-left: 125px; */
  background-color: rgb(93, 93, 252);
  padding: 5px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  outline: none;
}
.lowerDiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  margin-right: 30px;
}
.getPrice{
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
/* .mainpage .column_2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 20px;
}
.mainpage .column_2 .img_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 250px;
  background-color: rgb(224, 223, 223);
}
.mainpage .column_2 .img_1 button{
  background-color: rgb(93, 93, 252);
  padding: 5px;
  width: 100px;
  height: 30px;
}
.mainpage .column_2 .img_1 img{
  margin-top: 10px;
  width: 200px;
  height: 200px;
} */
